.card-title{
    transition: color 0.2s ease-in-out; /* Smooth transition for color */
}

.card:hover .card-title{
    color: blue;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[dir="rtl"] .card .badge {
  left: 10px;
  right: auto;
}

[dir="rtl"] .card .text-end {
  text-align: left !important;
}

[dir="rtl"] .card .mb-1.text-muted {
  margin-right: auto;
  margin-left: 0;
}