body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f2f4f7; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.divhit {
  background-color: #ffffff;
}
.blackBack {
  background-color: #1a1a1a;
}

.customBackground {
  background-color: #1a1a1a;
}

/* RTL Support */
[dir="rtl"] .ml-auto {
  margin-left: unset !important;
  margin-right: auto !important;
}

[dir="rtl"] .mr-auto {
  margin-right: unset !important;
  margin-left: auto !important;
}

[dir="rtl"] .text-left {
  text-align: right !important;
}

[dir="rtl"] .text-right {
  text-align: left !important;
}
